* {
    font-family: Poppins;
    border-radius: 5px;
}

body {
    background-color: grey;
    /* display: flex; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* width:80%; */
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px #424242;
}

button, input[type=button]:enabled {
    cursor: pointer;
    background-color: white;
}

input, select, input[type='text'] {
    width: 100%;
    box-sizing:border-box;
}

.assetNav {
    display: flex;
    justify-content: center;
}

.navBoxOption {
    cursor: pointer;
    font-size: larger;
    text-align: center;

    display: inline-block;
    padding: 5px;
    margin: 10px;
    
    width: 25vh;
    height: 50vh;

    background-color: rgb(192, 192, 192);
    box-shadow: 3px 3px rgb(66, 66, 66);
}

.assetBoxMain {
    font-size: larger;
    padding: 5px;
    background-color: rgb(192, 192, 192);
    box-shadow: 3px 3px rgb(66, 66, 66);

    display: flex;
    width: 80vw;
    max-width: 800px;

    min-height: 225px;
    max-height: 60vh;

    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
}

.assetBoxMain input, select {
    background-color: white;
    color: black;
    box-sizing:border-box;
}

.assetForm {
    max-width: 250px;
    height: 100%;
}

.assetList {
    text-align: center;
    width: 80%;
    overflow:hidden; 
    overflow-y:scroll;
}

.loadingCircle {
    border: 5px solid #424242;
    border-top: 5px solid grey;
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;

    width: 60px;
    height: 60px;
    animation: spin 1s cubic-bezier(0.57, 0.53, 0, 0.81) infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type='button']:disabled {
    color: grey;
}
